<a href="https://colab.research.google.com/github/Krishnaja14/Basic_Programs_In_Python/blob/main/Basic_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=6
b=7
print(a+b)

13

In [3]:
a=int(input())
b=int(input())
print(a+b)

12
13
25

In [ ]:
a=int(input)("enter thefirst number")
b=int(input("enter the second number"))
if a< b:
      print('first numberis less than second")
elif a>
            print("first number is greater than second")
else:
            print("first number equal to second")
            enter first number:5
            enter the second number:8
            first number is less than second

In [6]:
number=int(input())


print("multiplication Table for",number,":")
for i in range(1,11):
   result = number*i
   print(f"{number} x {i}= {result}")

13
multiplication Table for 13 :
13 x 1= 13
13 x 2= 26
13 x 3= 39
13 x 4= 52
13 x 5= 65
13 x 6= 78
13 x 7= 91
13 x 8= 104
13 x 9= 117
13 x 10= 130

In [ ]:
from re import I
from re import I
number=int(input())



print("Multipilcation Table for",number,".")
for i in range(1,11):
  result=number*I
  print(f"{number}x{i}={result}")